.Home {
    padding: 0 50px;
    .container {
        padding: 3rem 3rem;
        @include for-phone {
            padding: 3rem 0;
        }
    }

    .main-text {
        font-size: 2.5rem;
        @include for-phone {
            font-size: 2rem;
        }
    }
    .title {
        padding-top: 3rem;
        padding-bottom: 0;
        font-size: 1.5rem;
        text-align: center;
    }

    .ant-card-meta-title {
        text-overflow: unset;
        white-space: normal;
        overflow-wrap: break-word;
    }
    .ant-card-meta-description {
        font-size: 1rem;
    }

    .row.box {
        border: 2px solid $darkblue;
        margin: 2rem;
        padding: 1rem;

        .recomm-text {
            text-align: center;
            font-size: 2.5rem;
            @include for-phone {
                font-size: 2rem;
            }
        }
    }

    .flagg {
        position: absolute;
        z-index: 100;
        top: 0;
        right: -50%;
        transform: scale(0.4) rotate(30deg);
    }
}