.ant-layout-content {
    background: white !important;
}
.ant-layout-header {
    background: $blue !important;
    height: unset !important;
    padding: 0 !important;
}
.Header {
    padding-top: 1rem;
    .Header__toptop {
        line-height: 2rem;
        padding-top: 0.5rem;
        text-align: right;
        padding: 0 50px;
        @include for-phone {
            padding: 0 10px;
        }
        a {
            @include for-phone {
                word-break: break-all;
            }
        }
        span {
            color: white;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
    .Header__top {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 50px;
        @include for-phone {
            padding: 0 3rem;
        }
        .Header__top__logo > a > img {
            transform: scale(1.3);
            padding-left: 3rem;
            max-width: 100px;
            max-height: 100px;
            @include for-phone {
                padding: 0;
            }
        }
        .ant-input-affix-wrapper {
            height: 3rem !important;
            padding-left: 3rem;
            width: 40rem;
            svg {
                fill: $blue !important;
            }
        }
        .Header__top__buttons {
            justify-content: flex-end;
            display: flex;
            width: 50%;
            img {
                max-height: 50px;
            }
            @include for-phone {
                display: none;
            }
        }
    }
    .Header__bottom {
        background: $darkblue;
        line-height: 3rem;
        margin-top: 1rem;
        padding-left: calc(50px + 2rem);
        
        @include for-phone {
            padding: 0 2rem;
        }

        span {
            font-size: 1rem;
            font-weight: bold;
            line-height: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;
            color: white !important;
            i {
                transform: scale(0.8);
            }
        }
    }
}

.Landing {
    .Landing__mainimg {
        width: 100%;
    }
}