.Product {
    padding: 0 50px;
    @include for-phone {
        padding: 0;
    }
    .container {
        padding: 0 3rem;
        .nav {
            color: darkblue;
            padding-top: 1rem;

            .no {
                color: black;
            }
        }
        .title {
            font-size: 1.5rem;
        }
        .row {
            padding: 0 10%;
            @include for-phone {
                padding: 0;
            }
        }
    }
}